/*styles for all the data*/
.navbar
{
    background-color:#0aeaf4;
}
.heading{
    font-size: 30px;
    font-weight: bold;
}
.button
{
    color:#fff;
    background-color: blueviolet;
    border-radius: 25px;
    font-size: large;
    margin-left: 60rem;
}
.desc
{
    background-color:#a8efff;
    padding:5px;
    width:85%;
   
}

.data:hover{
    transform: scale(1.1);
    color:rgb(1, 1, 107);
    
   
}

@media screen and (max-width: 767px) {
    .desc{
        width:79%;
      margin-left: 10%;
    
    }
    .info
    {
        text-align: center;
    }
    .button{
        margin-left: 15rem;
    }
    }